name: app
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ^3.9.0

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8

  # HTTP client for API calls
  http: ^1.2.1

  # DataTable for displaying data
  data_table_2: ^2.5.10

  # PDF generation
  pdf: ^3.10.7

  # CSV handling
  csv: ^6.0.0

  # File sharing
  share_plus: ^9.0.0

  # Path provider for file system access
  path_provider: ^2.1.3

  # Date picker
  intl: ^0.19.0

  # Process runner for backend
  process_run: ^0.14.2
  google_fonts: ^6.3.2
  supabase_flutter: ^2.10.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0

  # Launcher icons
  flutter_launcher_icons: ^0.14.1

  # Splash screen
  flutter_native_splash: ^2.4.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/logo.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package

flutter_native_splash:
 # This package generates native code to customize Flutter's default white native splash screen
 # with background color and splash image.
 # Customize the parameters below, and run the following command in the terminal:
 # flutter pub run flutter_native_splash:create
 # To restore Flutter's default white splash screen, run the following command in the terminal:
 # flutter pub run flutter_native_splash:remove

 # color or background_image is the only required parameter.  Use color to set the background
 # of your splash screen to a solid color.  Use background_image to set the background of your
 # splash screen to a png image.  This is useful for gradients. The image will be stretch to the
 # size of the app. Only one parameter can be used, color and background_image cannot both be set.
 color: "#ffffff"
 #background_image: "assets/background.png"

 # Optional parameters are listed below.  To enable a parameter, uncomment the line by removing
 # the leading # character.

 # The image parameter allows you to specify an image used in the splash screen.  It must be a
 # png file and should be sized for 4x pixel density (i.e. 1.5x larger than a 200dp square
 # would be on a single pixel density device).
 #image: assets/splash.png

 # The branding property allows you to specify an image used as branding in the splash screen.
 # It must be a png file. It is supported for Android, iOS and the Web.  For Android 12+
 # the image will be displayed over the Android 12+ icon.  The image will be displayed on top
 # of the color or background_image with the opacity set by branding_opacity. The image should
 # be square with the width and height being a minimum of 48dp (72px for 1.5x pixel density).
 #branding: assets/dart.png

 # To position the branding image at the bottom of the screen you can use bottom, top, center
 # or values from -50 to +50 on Android and Web. The default values are bottom on Android
 # and center on Web. iOS does not support positioning.
 #branding_mode: bottom

 # The color_dark, background_image_dark, image_dark, branding_dark are parameters that set
 # the background and image when the device is in dark mode. If they are not specified, the
 # normal parameters are used.
 #color_dark: "#042a49"
 #background_image_dark: "assets/dark-background.png"
 #image_dark: assets/splash-invert.png
 #branding_dark: assets/dart_dark.png

 # Android 12 handles the splash screen differently than previous versions.  If you would
 # like to opt out of the Android 12+ splash screen, set android_12_and_higher: false
 # Defaults to true.
 #android_12_and_higher: false

 # The android, ios and web parameters can be used to disable generating a splash screen on a given
 # platform.
 #android: false
 #ios: false
 #web: false

 # Platform specific images can be specified with the following parameters, which will override
 # the respective image parameter.  You may specify all, none, or just some of them:
 #image_android: assets/splash-android.png
 #image_dark_android: assets/splash-invert-android.png
 #image_ios: assets/splash-ios.png
 #image_dark_ios: assets/splash-invert-ios.png
 #image_web: assets/splash-web.png
 #image_dark_web: assets/splash-invert-web.png
 #branding_android: assets/brand-android.png
 #branding_dark_android: assets/dart_dark-android.png
 #branding_ios: assets/brand-ios.png
 #branding_dark_ios: assets/dart_dark-ios.png
 #branding_web: assets/brand-web.png
 #branding_dark_web: assets/dart_dark-web.png

 # The position of the splash image can be set with android_gravity, ios_content_mode, and
 # web_image_mode parameters.  All default to center.
 #
 # android_gravity can be one of the following Android Gravity (see
 # https://developer.android.com/reference/android/view/Gravity): bottom, center,
 # center_horizontal, center_vertical, clip_horizontal, clip_vertical, end, fill, fill_horizontal,
 # fill_vertical, left, right, start, top.
 #android_gravity: center
 #
 # ios_content_mode can be one of the following iOS UIView.ContentMode (see
 # https://developer.apple.com/documentation/uikit/uiview/contentmode): scaleToFill,
 # scaleAspectFit, scaleAspectFill, center, top, bottom, left, right, topLeft, topRight,
 # bottomLeft, bottomRight.
 #ios_content_mode: center
 #
 # web_image_mode can be one of the following modes: center, contain, stretch, cover.
 #web_image_mode: center

 # The screen orientation can be set in Android with the android_screen_orientation parameter.
 # Valid parameters can be found here:
 # https://developer.android.com/guide/topics/manifest/activity-element#screen
 #android_screen_orientation: sensorLandscape

 # To hide the notification bar, use the fullscreen parameter.  Has no affect in web since web
 # has no notification bar.  Defaults to false.
 # NOTE: Unlike Android, iOS will not automatically show the notification bar when the app loads.
 #       To show the iOS notification bar, you must override the default behavior either by:
 #       1. Using flutter_native_splash.remove() in the splash screen body,
 #       2. Setting UIApplication.setStatusBarHidden(false, with: .none) in your AppDelegate OR
 #       3. Setting "ios_status_bar_hidden" to false in the flutter_native_splash section of your
 #          pubspec.yaml file.
 #fullscreen: true

 # If you have changed the name(s) of your info.plist file(s), you can specify the filename(s)
 # with the info_plist_files parameter.  Remove only the # characters in the three lines below,
 # do not remove any spaces:
 #info_plist_files:
 #  - 'ios/Runner/Info.plist'
 #  - 'path/to/additional/plist/file.plist'

 # To enable native iOS screen orientation control, specify the ios_screen_orientation parameter.
 # Valid parameters can be found here:
 # https://developer.apple.com/documentation/uikit/uiinterfaceorientation
 #ios_screen_orientation: UIInterfaceOrientationLandscapeLeft
 
 scripts:
   pre_build: dart run tools/update_build_time.dart

 flutter_launcher_icons:
   android: true
   ios: true
   image_path: "assets/icon.png"
   adaptive_icon_background: "#ffffff"
   adaptive_icon_foreground: "assets/icon.png"
